.toyimagecontainer {
	text-align: center;
}

.toystatus {
	display: inline-block;
}

.headerimagecontainer {
	display: inline-block;
	max-width: 800px;
	background-color: red;
	text-align: center;
	padding: 20px;
}

.headerimage {
	max-width: 100%;
	max-height: 100%;
	object-fit: cover;
}

.commentcontainer {
	display: block;
	background: blue;
	height: 100%;
}

	.comment {
		background-color: pink;
		display: block;
		position: relative;
		float: top;
		margin-top: 20px;
		margin-bottom: 20px;
	 	min-height: 140px;
	 	padding: 20px;

	}

		.commentpic {
			position: absolute;
			background-color: #874e64;
			display: block;
			float: left;
			width: 120px;
			height: 120px;

		}

		.commentimg {
			width: 120px;
			height: 100px;
			margin-top: 10px;
			margin-bottom: 10px;
			object-fit: cover;
		}

		.commentmetadata {
			margin-left: 125px;
			text-align: left;
			float: top;
		}

		.commenttext {
			display: block;
			position: relative;
			float: left;
			margin-left: 140px;
			margin-top:20px;
			margin-bottom:50px;
			max-width: 710px;
		}

		.commenttimestamp {
			display: block;
			position: relative;
			float: bottom;
			text-align: right;
			margin-top:70px;
			margin-right:60px;
		}